<%- include('../layouts/adminheader') %>

<h2 class="page-title">Edit a category</h2>
<a href="/admin/categories" class="btn btn-primary">Back to all categories</a>
<br><br>

<form action="/admin/categories/edit-category/<%= id %>" method="post">

    <div class="form-group">
      <label for="">Title</label>
      <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title" required>
    </div>

    <button type="submit" name="button" class="btn btn-primary">Submit</button>

</form>


<%- include('../layouts/adminfooter') %>
