
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin Area</title>
    <meta name="theme-color" content="#2874f0">
    <link rel="icon" href="/images/shopping-cart.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/adminstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
  <a class="navbar-brand" href="/">Loot<span>Maal</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/admin/pages">Pages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admin/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admin/products">Products</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/users/logout">Logout</a>
      </li>
    </ul>

  </div>
</nav>

<div class="container">

<%- messages('messages', locals) %>

<%  if(errors){  %>
<%  errors.forEach(function(error){  %>
    <div class="alert alert-danger">
<%=      error.msg %>
    </div>
<%  });  %>
<%}  %>
