<%- include('layouts/header') %>

<% if(title === "Home"){ %>
  <div class="jumbotron">
    
  </div>

<%} else{ %>

  <h2><%- title %></h2>


  <h3><%- content %></h3>
<%} %>



<%- include('layouts/footer') %>
